<header>
<!-- navbar-fixed-top -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand col-brand" href="{{ site.baseurl }}/"><img src="{{ "/assets/images/brand"  | prepend: site.baseurl | prepend: site.url }}/{{ site.layout.brand }}" alt=""></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% for page in site.pages %}
              {% if page.title %}
                <li>
                <a id="{{ page.title }}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>

    </div> <!--container -->
  </nav>
</header>
