/* Variables theme */

$color_primary: #8A0000;
$color_primary_hover_focus_active: #B40909;

$base-font-family: "Raleway", sans-serif;

$bg-footer-container-row-1: #E7E7E7;
$bg-footer-container-row-2: #fff;

$background-default: url(../../images/bg/dark.jpg) no-repeat center center scroll;

$menu-background: #000;

$about_text-color: #fff;
$base-font-size-page: 18px;

$see-below-display: none;  /* inline | none | */

